<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <title> Q and A </title>
</head>

<body> 
    <div id="home" class="container">
        <header> 
            <a href="/" class="logo"><img src="/images/logo.svg"></a>
        </header>

        <div class="bg"> <img src="/images/home-bg-img.svg"> 
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>
    
        <main>

            <%- include(`parts/${page}`) %>

        </main>



    </div>
</body>


</html>



