<div class="form">
    <h2> Entre como participante </h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">C칩digo da sala</label>
        <input name="roomId" type="number" id="room-id" placeholder="C칩digo da sala">
        <button> <i class="fas fa-sign-in-alt"></i> Entrar na sala </button>
    </form>

    <div class="separator">
        <div class="line"></div>
        <div><span>ou</span></div>
        <div class="line"></div>
    </div>  

    <section>
        <h2> Crie sua pr칩pria sala de forma f치cil </h2>
    <a href="/create-pass" class="button"> <i class="fas fa-user-friends"></i> Criar sala </a>
    </section>
</div>